{
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true,
    "sessionStorage": true,
    "WebSocket": true,
    "localStorage": true,
    "location": true,
    "Element": true,
    "HTMLInputElement": true,
    "FileReader": true,
    "Request": true,
    "SVGElement": true,
    "HTMLCanvasElement": true,
    "HTMLElement": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "import", "prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "import/no-named-default": "off",
    "no-case-declarations": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-param-reassign": 0,
    "react/jsx-curly-brace-presence": 2,
    "max-len": [1, 120, 2],
    "no-bitwise": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/no-static-element-interactions": 0,
    "padded-blocks": [
      "error",
      {
        "blocks": "never",
        "classes": "never",
        "switches": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/forbid-prop-types": "off",
    "react/no-did-update-set-state": "off",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "no-confusing-arrow": "off",
    "no-useless-concat": "off",
    "quote-props": "off",
    "import/no-named-as-default": "off",
    "strict": 0,
    "global-require": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/no-duplicates": "warn",
    "no-unused-expressions": "warn",
    "radix": "warn",
    "spaced-comment": "warn",
    "react/sort-comp": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/ban-ts-ignore": "warn",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/camelcase": "warn",
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/class-name-casing": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    // @todo - The following rule should be an error!
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-useless-constructor": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "~"]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "parser": "babel-eslint"
    },
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
    }
  ]
}
