version: 2.1
  
orbs:
  node: circleci/node@2.0.3
  
workflows:
  version: 2
  test:
    jobs:
      - test
  deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          branches:
            only:
              - master
              - /alpha-*/
              - /beta-*/

jobs:
  test:
    executor:
      name: node/default
      tag: '12.16'
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
            - .
      - run: yarn
      - run: yarn lint
      - run: yarn build:tokens
      - run: cd packages && ls -la
      - run: yarn test
  deploy:
    executor:
      name: node/default
      tag: '12.16'
    steps:
      - attach_workspace:
          at: .
      - run: npm publish
